@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    
*{
    font-family: 'Outfit';
    margin: 0%;
    line-height: 16px;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
}

/* Contenido de navbar  */

nav {
    top: 0;
    height: 64px;
    width: 100%;
    background-color: #2B2A2B;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logo {
display: flex;
width: 213px;
height: 36px;
font-weight: 400;
line-height: 35.19px;
font-size: 23.46px;
color: white;
padding: 12px;
gap: 7.33px;
align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    width: 512px;
    height: 32px;
    align-items: center;
}

li {

display: flex;
list-style: none;
justify-content: space-between;
align-items: center;
line-height: 16px;
cursor: pointer;
color: white;
font-weight: 600;
font-size: 14px;
height: 32px;
padding: 8px;
border-radius: 10px;
white-space: nowrap;


}

li:hover {

background-color: rgb(54, 50, 50);


    }

a:visited {
color: white;
text-decoration: none;
}

.phoneNumberIcon {
    align-items: center;
    width: 288px;
    height: 40px;
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    padding: 12px, 24px, 12px, 24px;

}

.phoneNumberText {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 134px;
    height: 24px;
    font-size: 16px;
    margin: auto;
    white-space: nowrap;
}

.phoneNumberText > p {
    width: 102px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 600;
}

.phoneNumberIcon > img {
   width: 18px;
   height: 18px;
}

.logIn {

    justify-content: center;
    display: flex;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 4px;
    background-color:#515051;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    
    }

.shoppingBagIcon {
    display: flex;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/* Contenido de hero */

#heroSection {
display: flex;
height: 486px;
width: 100%;
padding: 48px;
gap: 24px;
background-color:  rgba(227, 222, 215, 0.3);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.heroSectionText {

width: 100%;
height: 390px;
padding: 48px 40px 48px 40px;
gap: 24px;
display: flex;
flex-direction: column;

}

.heroSectionText > h3 {

width: 588px;
height: 24px;
color: #2a5b45;
line-height: 24px;
font-size: 18px;

}

.heroSectionText > h1 {

    width: 588px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
    
    }

.heroSectionText > p {

width: 588px;
height: 32px;
font-size: 14px;
font-weight: 400;
line-height: 16px;

}

.heroButtons {

width: 321px;
height: 40px;
gap: 16px;
display: flex;


}

.descubrir-origenes {

width: 168px;
height: 40px;
padding: 12px;
gap: 8px;
background-color: black;
color: white;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
white-space: nowrap;
text-align: center;
justify-content: center;
}

.comprar-cafe {

width: 168px;
height: 40px;
padding: 12px 24px;
gap: 8px;
background-color: #2a5b45;
color: white;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
text-align: center;
justify-content: center;
white-space: nowrap;

}

.heroImage {

    display: flex;
    justify-content: center;
    height: 390px;
    width: 588px;
    padding-top: 45px;
}

/* Contenido de beneficios  */


.secondSection {
    display: flex;
    height: 380px;
    width: 100%;
    background-image: url("/assets/coffee-background.38aa7680.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.sectionTitle {

        color: white;
        width: 350px;
        height: 28px;
        line-height: 28px;
        font-size: 24px;
        font-weight: 500;
    
        
    }


.benefitsCards {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    align-content: center;
    text-align: center;
    width: 996px;
height: 220px;
padding: 24px;
gap: 16px;

}

.benefitBoxes {

    background-color: white;
    border-radius: 8px;
    padding: 24px;
    height: 232px;
    width: 316px;
    font-size: 14px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;


}

.benefitBoxes > p  {

width: 268px;
height: 32px;
line-height: 16px;
}

.benefitBoxes > img {

    width: 64px;
    height: 70px;
    padding: 12px 0px 0px 0px;
    gap: 8px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}

.benefitBoxes > h3 {

    white-space: nowrap;
    width: 268px;
height: 24px;
line-height: 24px;

}

#novedades {
    width: 100%;
    height: 603.39px;
    padding: 40px 40px 40px 70px;
    gap: 40px;

}

#novedades > h3 {
color: #2a5b45;
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 28px;

}

.sectionNovedadesWrapper {
    display: flex;
    width: 1200px;
    height: 391.39px;
    align-items: center;
    justify-content: space-between;
    align-content: center;

}

.costaRicaCoffee {
    width: 282px;
    height: 391.39px;
    align-items: center;
    text-align: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.costaRicaCoffee > img {
    padding: 24px;
}

.costaRicaCoffee > a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: #2A5B45B2;
    width: 60px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
}

.costaRicaCoffee:hover {

    border: 1px solid #E3DED7;
    background-color: #E3DED7;
    cursor: pointer;
}

.costaRicaCoffee > a:hover,
.colombiaCoffee > a:hover,
.etiopiaCoffee > a:hover,
.laosCoffee > a:hover {

background-color: #2A5B45;
}

.colombiaCoffee {
    width: 282px;
    height: 391.39px;
    align-items: center;
    text-align: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.colombiaCoffee > img {
    padding: 24px;
}

.colombiaCoffee > a {
    cursor: pointer;
    background-color: #2A5B45B2;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 60px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
}

.colombiaCoffee:hover {

    border: 1px solid #E3DED7;
    background-color: #E3DED7;
    cursor: pointer;
}


.laosCoffee {
    width: 282px;
    height: 391.39px;
    align-items: center;
    text-align: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.laosCoffee > img {
    padding: 24px;
}

.laosCoffee > a {
    cursor: pointer;
    background-color: #2A5B45B2;
    color: white;
    font-size: 14px;
    text-decoration: none;
    width: 60px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
}

.laosCoffee:hover {

    border: 1px solid #E3DED7;
    background-color: #E3DED7;
    cursor: pointer;
}

.etiopiaCoffee {
    width: 282px;
    height: 391.39px;
    align-items: center;
    text-align: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.etiopiaCoffee > img {
    padding: 24px;
}

.etiopiaCoffee > a {
    cursor: pointer;
    background-color: #2A5B45B2;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 60px;
    height: 32px;
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
}

.etiopiaCoffee:hover {

    border: 1px solid #E3DED7;
    background-color: #E3DED7;
}

#novedades > a {
    display: flex;
   justify-content: center;
color: #2B2A2B;
white-space: nowrap;
font-size: 14px;
font-weight: 600;
align-items: center;
gap: 16px;
}


.arrow-icon {
    display: inline;
    justify-content: center;
    width: 18px;
    height: 8px;
    top: 8px;
    left: 3px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    align-items: center;
    align-content: center;
}


#coffeeFaqs{
    min-height: 621px;
    background-color: #2A5B45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#coffeeFaqs > h2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

#faqsWrapper{
    display: flex;
    height: 425px;
    width: 668px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.faqsWrapperElements{
    display: flex;
    width: 668px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 10px;
    background-color: #FFFFFF; 
    min-height: 72px; 
    transition: all 1s;
}

.faqsWrapperTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    min-height: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.faqsWrapperTitle img{
    height: 20px;
    width: 20px;
}

.faqsWrapperElements hr{
    transition: all 1s;
    width: 620px;
    border: 1px solid #E3DED7;
    display: none; 
}

.faqsWrapperElements p{
    transition: all 1s;
    width: 620px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: none;
}

.faqsWrapperElements:hover{
    padding: 24px;
}

.faqsWrapperElements:hover hr{
    display: block;
}

.faqsWrapperElements:hover p{
    display: block;
}

.faqsWrapperElements:hover .faqsWrapperTitle img{
    transform: rotate(180deg);
}

 #moreFaqs{
    min-width: 178px;
    min-height: 24px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #moreFaqs a{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
 }

 #moreFaqs img{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
 }



.third-section {

width: 100%;
display: flex;
height: 480px;
font-size: 14px;
background-color: #F7F5F3;


}

.coffee-shop {

display: flex;
width: 100%;
height: 390px;
top: 44.61px;
margin: 40px;
gap: 0px;
justify-content: space-between;
align-items: center;
align-content: center;
padding-top: 15px;


}

.text-coffee-shop > h2 {

color: #2a5b45;
font-weight: 500;

}


.contacto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    background-color: #E3DED7;

}


.form-box {
display: flex;
flex-direction: column;
height: 200px;
font-weight: 600px;
gap: 24px;
opacity: 0px;
padding: 40px 40px 40px 40px;
width: 588px;
height: 552px;
background-color: white;


}

#contact {

    height: 400px;
    font-weight: 600px;
    padding: 40px 32px 40px 32px;
    background-color: #E3DED7;
    width: 588px;
    height: 320px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#contact > h3 {

white-space: nowrap;
color: #111827;
font-size: 18px, 600;
}

#contact > p {

    color: #6B7280;
    line-height: 16px;
    }

#contact, form {
    flex: 1; 
    margin: 0 10px; 

}

.enviar {
width: 90px;
padding: 12px;
height: 40px;
background-color:#2A5B45;
color: white;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
align-items: center;
cursor: pointer;
border: none;
}

#area-texto {
 
height: 178px;
width: 520px;
margin: 24px 0 0 0;
padding: 8px 12px 8px 12px;
border-radius: 6px;
border-color: #D1D5DB;
}

#name,
#email {

width: 470px;
height: 34px;
padding: 9px 13px 9px 13px;
border-radius: 6px;
border: 1px #D1D5DB solid;
outline: none;


}

#name,
#email:focus {

    outline: 2px solid #3F8F6B;
    accent-color: #3F8F6B;
    
    }

.checkboxForm {
    white-space: nowrap;
    display: flex;
    text-align: left;
    gap: 12px;
    width: 442px;
    height: 16px;
    align-items: center;
}

.formSelect {

width: 68px;
height: 38px;
padding: 9px 13px 9px 13px;
gap: 4px;
border-radius: 6px;
box-shadow: 0px 1px 2px 0px #0000000D;

}

input:not(checkbox)
input {

    width: 402px;
    height: 34px;
    padding: 9px 13px 9px 13px;
    border-radius: 6px;
    border: 1px #D1D5DB solid;
    outline: none;
}

input:focus {
    outline: 2px solid #3F8F6B;
    accent-color: #3F8F6B;

}

/* Contenido de pie de página */

    footer {
        display: flex;
        flex-direction: column;
        height: 270px;
        background: #1F1815;
        justify-content: space-between;
    
    }
    
    .footerWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        position: relative;
        width: 1200px;
        height: 204px;
        left: 40px;
        top: 28.61px;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 7.33px;
        width: 288px;
        height: 36px;
    }
    
    .footerContainer {
        display: flex;
        width: 1132px;
        height: 152px;
    }
    
    .contactWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        position: relative;
        width: 255.33px;
        height: 152px;
        left: 0px;
        top: 0px;
        color: #fff;
    }
    
    .mailAndPhone {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        gap: 8px;
        width: fit-content;
        height: 40px;
        background: #515051;
        border-radius: 4px;
        
    }
    
    .mailAndPhone a {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-decoration: none;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
    }
    
    .menuFooter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        position: absolute;
        width: 96px;
        height: 144px;
        left: 577px;
    }
    
    .menuFooter a {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-decoration: none;
        gap: 8px;
    }
    
    .FooterTerms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        position: absolute;
        width: 255.33px;
        height: 80px;
        left: 800px;

    }
    
    .FooterTerms a {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-decoration: none;
        gap: 8px;
    }
    
    .copyrighFooter {
        display: flex;
        background: #2B2A2B;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .copyrighFooter p {
        width: 359px;
        height: 0px;
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-align: center;
        white-space: nowrap;
    }