@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    
*{
    font-family: 'Outfit';
    margin: 0%;
    line-height: 16px;
}

nav {
    top: 0;
    width: 100%;
    background-color: #2B2A2B;
    display: flex;
    margin: 0;
    padding: 12px 40px;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    position: fixed;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

}

